{% extends 'base.html' %}

{% block title %}Latest Rates{% endblock title %}

{% block content %}
    <button type="button" class="btn btn-dark reload-rates-js">
        Reload Rates
    </button>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">Date</th>
      <th scope="col">Rate</th>
      <th scope="col">Source</th>
      <th scope="col">Currency</th>
      <th scope="col">Rate type</th>
    </tr>
  </thead>

  <tbody>
  {% for rate in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ rate.id }}</td>
      <td>{{  rate.created }}</td>
      <td>{{  rate.rate }}</td>
      <td>{{ rate.get_source_display }}</td>
      <td>{{ rate.get_currency_type_display }}</td>
      <td>{{ rate.get_rate_type_display }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            $("table").click(function () {
                alert('hello');

            // start
            $(".reload-rates-js").click(function () {
                $("tbody tr").remove();
                $.get('/api/v1/rate/latest-rates/').done(function (data) {

                    let i;

                    for (i = 0; i < data.length; i++) {
                        let item = data[i];
                        $('tbody:last-child').append(
                            '<tr>' +
                            '<th>1</th>' +
                            `<td>${item.id}</td>` +
                            `<td>${item.created}</td>` +
                            `<td>${item.get_source_display}</td>` +
                            `<td>${item.amount}</td>` +
                            `<td>${item.get_type_display}</td>` +
                            `<td>${item.get_currency_type_display}</td>` +
                            '</tr>'
                        );
                    }

                });
            });
            // end


        });
    </script>
{% endblock extra_js %}