{% extends 'base.html' %}
{% load pagination %}

{% block title %}Rates{% endblock title %}

{% block content %}
	<br>
	<a href="{% url 'rate:download-csv' %}" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Download CSV</a>
	<a href="{% url 'rate:download-xlsx' %}" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Download XLSX</a>
	<br><br>

	<form method="get">
		{{ filter.form.as_p }}
		<button type="submit" class="btn btn-dark">
			<span class="glyphicon glyphicon-search">Search</span>
		</button>
	</form>
	<table class="table">
		<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">id</th>
			<th scope="col">Date</th>
			<th scope="col">Rate</th>
			<th scope="col">Source</th>
			<th scope="col">Currency</th>
			<th scope="col">Rate type</th>
			{% if user.is_superuser %}
				<th scope="col">Edit</th>
				<th scope="col">Delete</th>
			{% endif %}
		</tr>
		</thead>

		<tbody>
			{% for rate in object_list %}
				<tr>
					<th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
					<td>{{ rate.id }}</td>
					<td>{{  rate.created }}</td>
					<td>{{  rate.rate }}</td>
					<td>{{ rate.get_source_display }}</td>
					<td>{{ rate.get_currency_type_display }}</td>
					<td>{{ rate.get_rate_type_display }}</td>
					{% if user.is_superuser %}
						<td><a class="btn btn-dark" href="{% url 'rate:edit' pk=rate.id %}">Edit</a></td>
						<td><a class="btn btn-dark" href="{% url 'rate:delete' pk=rate.id %}">Delete</a></td>
					{% endif %}
				</tr>
			{% endfor %}
	</tbody>
	</table>
	{% if is_paginated %}
		{% pagination page_obj %}
	{% endif %}
{% endblock content %}
